<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welkin.springbootseed.dao.mysql.mapper.order.CustomOrderDao">

    <resultMap id="BaseResultMap" type="com.welkin.springbootseed.model.entity.mysql.order.Order"
               extends="com.welkin.springbootseed.dao.mysql.mapper.order.OrderDao.BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
    id, city_id, order_center_no, order_no, customer_id, product_id, process_instance_id, 
    status, close_time, is_deleted, create_time, update_time, entry_time, sys_time, delete_time, 
    import_flag, import_no, fund_type
  </sql>

    <sql id="Base_Condition">
        <if test="id != null">and id=#{id,jdbcType=INTEGER}</if>
        <if test="orderNo != null">and order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')</if>
        <if test="entryBeginTime !=null">and entry_time &gt;=#{entryBeginTime,jdbcType=TIMESTAMP}</if>
        <if test="entryEndTime !=null">and entry_time &lt;=#{entryEndTime,jdbcType=TIMESTAMP}</if>
        <if test="fundType !=null">and fund_type=#{fundType,jdbcType=TINYINT}</if>
    </sql>

    <delete id="removeByOrderId" parameterType="java.lang.Integer">
    delete from tfs_order
    where id = #{orderId,jdbcType=INTEGER}
  </delete>

    <select id="selectByCondition" parameterType="com.welkin.springbootseed.model.dto.order.SearchOrderCondition"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tfs_order
        where is_deleted=0
        <include refid="Base_Condition"/>
    </select>

</mapper>